.main404{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 74vh;
    padding: 0 16%;
}
.main404Right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0 80px 0 20px; */
}
.text404{
    font-size: 80px;
    letter-spacing: 10px;
}
.desHead404{
    font-size: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 6px 0;
}
.des404{
    padding: 10px 20px 16px 0;
}
.goHome{
    background-color:  #5e78bb;
    border: none;
    border-radius: 6px;
    color: rgb(231, 231, 231);
    padding: 8px 12px;
    font-weight: bold;
}
.goHome:hover{
    cursor: pointer;
    background-color: #4f7be9;
    color: white;
}
